@use 'mixins' as *;
@use 'variables' as *;

.card {
   background: $primaryGradient;
   width: 90vw;
   min-width: 23.4375rem;
   max-width: 75rem;
   height: 50rem;
   box-shadow: 0px 5px 20px 0px rgb(190, 190, 190);

   @include breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
   }

   &__illustration {
      margin-bottom: 3.725rem;

      @include breakpoint-up(large) {
         height: 100%;
         margin: 0;
         flex-basis: 80%;
      }
   }

   &__logo {
      width: 10rem;
      padding: 2rem;
   }

   &__hero {
      object-fit: cover;
      height: 15.625rem;
      width: 100%;

      @include breakpoint-up(medium) {
         height: 20rem;
      }
      
      @include breakpoint-up(large) {
         height: 100%;
      }
   }

   &__content {
      text-align: center;

      & > img {
         margin-bottom: 8.6875rem;
      }

      @include breakpoint-up(large) {
         background-image: url('../images/bg-pattern-desktop.svg');
         background-repeat: no-repeat;
         background-size: cover;
         text-align: left;
         height: 100%;
         padding: 4.0625rem 5rem 0rem 7.5rem;
      }
   }

   &__title {
      font-size: 1.7rem;
      text-transform: uppercase;
      letter-spacing: 0.7rem;
      font-weight: 600;
      padding: 0 4.25rem;
      margin-bottom: 1.875rem;
      color: $darkGrayishBlue;

      @include breakpoint-up(medium) {
         padding: 0 3rem;
      }

      @include breakpoint-up(large) {
         margin-bottom: 2.5rem;
         padding: 0;
         font-size: 2.5rem;
         width: 50%;
      }

      &1 {
         color: $desaturatedRed;
         font-weight: 300;         
      }
   }

   &__description {
      color: $desaturatedRed;
      font-size: 0.875rem;
      padding: 0 2.5rem;
      margin-bottom: 2.375rem;
      line-height: 1.5;

      @include breakpoint-up(large){
         margin-bottom: 3rem;
         padding: 0;
         font-size: 1rem;
         max-width: 80%;
      }
   }

   &__form {
      position: relative;
      max-width: 80%;
      margin: 0 auto;

      &.active {
         & .card__alert {
            display: block;
         }

         &::after {
            display: block;
         }
      }

      @include breakpoint-up(medium) {
         height: 3.5rem;
         max-width: 27.5rem;
      }

      @include breakpoint-up(large) {
         margin: 0;
      }

      &::after {
         display: none;
         content: "";
         background-image: url('../../images/icon-error.svg');
         background-repeat: no-repeat;
         background-position: center;
         width:50px;
         height:50px;
         position: absolute;
         top: 0;
         left: 75%;
         transform: translateX(-75%);
         z-index: 100;

         @include breakpoint-up(medium) {
            top: 0.25rem;
         }
      }
   }

   &__input {
      width: 100%;
      background: transparent;
      height: 3rem;
      padding: 0 1.5rem;
      border-radius: 30px;
      border: 1px solid hsla(0, 36%, 70%, 50%);
      color: $desaturatedRed;
      font-family: 'Josefin Sans', sans-serif;
      margin-bottom: 0.625rem;

      @include breakpoint-up(medium) {
         height: 3.5rem;
         font-size: 1rem;
      }

      &:focus {
         color: black;
         font-weight: 600;
         outline: 2px solid rgb(223, 37, 37);
         outline-offset: -2px;
      }
   }

   &__submit { 
      position: absolute;
      right: 0;
      background: hsl(0, 74%, 74%);
      height: 3rem;
      width: 4rem;
      border-radius: 30px;
      border: 0;
      box-shadow: 0px 10px 20px 0px hsla(0, 36%, 70%, 60%);
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;

      @include breakpoint-up(medium) {
         height: 3.5rem;
         width: 5.5rem;
      }

      &:hover {
         background: hsl(0, 80%, 86%);
         box-shadow: 0px 10px 20px 3px hsla(0, 36%, 70%, 100%);
      }

      &:focus {
         outline: 2px solid rgb(223, 37, 37);
      }
   }

   &__alert {
      display: none;
      text-align: left;
      padding: 0 2.5rem;
      font-size: 0.875rem;
      color: rgb(223, 37, 37);
   }
}